body {
    background: rebeccapurple;
    display: grid;
    place-content: center;
    font-family: 'Montserrat', sans-serif;
}

#page {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(mediumpurple,steelblue);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#selectorMenu {
    position: absolute;
    background: mediumslateblue;
    border-radius: 35px;
    right: 8%;
    top: 9%;
    transition: .8s;
    overflow: hidden;
}

#selector {
    width: 7rem;
    height: 7rem;
    transition: 200ms;
    border-radius: 50%;
    opacity: var(--distanceSelector);
    background: radial-gradient(transparent 30%,slateblue 60%);
    left: 0;
    top: 0;
    position: absolute;
    transform: translate(calc(var(--selectorX)), calc(var(--selectorY)));
    transition: .5s;
}

#selector-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background: linear-gradient(steelblue,mediumpurple);
    filter: blur(10px);
}

.svg-container {
    width: 8rem;
    height: 8rem;
    border-radius: 30%;
}

img {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weather-container {
    position: absolute;
    background: transparent;
    width: auto;
    height: auto;
    left: 8%;
    bottom: 15%;
}

.weather-unit {
    background: antiquewhite;
    border-radius: 20px;
    width: 150px;
    height: 220px;
    display: inline-flex;
}