/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
    --square-size: 20px;
    --square-gap: 6px;
    --week-width: calc(var(--square-size) + var(--square-gap));
    --constGray: #222831;
    --Xdelta: -55px;
    --Ydelta: -20px;
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
    overflow: hidden;
    position: absolute;
    top: 70%;
    right: 400px;
    display: grid;
    grid-template-areas: "empty months"
                       "days squares";
    background: var(--constGray);
    border-radius: 15px;
    width: 1415px;
    height: 230px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: white;
    opacity: 0%;
    transition: 1s;
    border: gray;
}
.graph:hover {
    width: 1650px;
    transition: 1s;
}

.months {
    transform: translateX(var(--Xdelta));
    list-style: none;
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}

.days {
    transform: translate(-25px,var(--Ydelta));
}


.days,
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
    list-style: none;

}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
    transform: translate(var(--Xdelta), var(--Ydelta));
}


.days li:nth-child(odd) {
    visibility: hidden;
}

.squares li {
    border-radius: 10%;
    list-style: none;
}

.calender-manager {
    position: relative;
    width: 1px;
    height: 1px;
    left: 1400px;
    top: 50px;
    transform: translateX(120px);
}

.calendar-button {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    font-size: 18px;
}