{% extends "base.html" %}

<div>
{% block head %}
    <title>Home</title>
{% endblock %}
</div>

{% block body %}
<script type="module" src="../modules/local-devices"></script>
<script type="text/javascript" src="../static/js/main-page.js"></script>
<div id="page">
    <div class="searchbar-box2">
        <input type="search" placeholder="Search..." class="searchbar2" autofocus>
        <span class="search-background"></span>
        <a href="#" class="icon2">
            <i class="fas fa-search"></i>
        </a>
    </div>



    <div class="main-weather-container">
        <div class="weather-side">
            <div class="weather-gradient"></div>
                <div class="date-container">
                    <h1 class="date-day"></h1>
                    <span class="date-full"></span>
                    <br>
                    <span class="date-time">London, GB</span>
                </div>
            <div class="weather-container">
                <h2 class="weather-bound max-temp"></h2>
                <h1 class="weather-temp"></h1>
                <h2 class="weather-bound min-temp"></h2>
                <h3 class="weather-desc">Sunny</h3>
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation">
                        <span class="title">PRECIPITATION</span>
                        <span class="value precipitation smoothing">0 %</span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity">
                        <span class="title">HUMIDITY</span>
                        <span class="value humidity smoothing">34 %</span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind">
                        <span class="title">WIND</span>
                        <span class="value windspeed smoothing">0 km/h</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="week-container">
                <ul class="week-list">
                    <li class="dayButton active">
                        <i class="day-icon" data-feather="sun"></i>
                        <span class="day-name">Tue</span>
                        <span class="day-temp max-temp"></span>
                        <span class="day-temp min-temp"></span>
                    </li>
                    <li class="dayButton">
                        <i class="day-icon" data-feather="sun"></i>
                        <span class="day-name">Wed</span>
                        <span class="day-temp max-temp"></span>
                        <span class="day-temp min-temp"></span>
                    </li>
                    <li class="dayButton">
                        <i class="day-icon" data-feather="sun"></i>
                        <span class="day-name">Thu</span>
                        <span class="day-temp max-temp"></span>
                        <span class="day-temp min-temp"></span>
                    </li>
                    <li class="dayButton">
                        <i class="day-icon" data-feather="sun"></i>
                        <span class="day-name">Fri</span>
                        <span class="day-temp max-temp"></span>
                        <span class="day-temp min-temp"></span>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="location-container"><button class="location-button"> <i data-feather="map-pin"></i><span>Change location</span></button></div>
        </div>
    </div>



        <div id="selectorMenu">
            <div id="selector-bg"></div>
            <div class="svg-container">
                <img src="../static/assets/github.svg">
            </div>
            <div class="svg-container">
                <img src="../static/assets/youtube.svg">
            </div>
            <div class="svg-container">
                <img src="../static/assets/twitter.svg">
            </div>
            <div class="svg-container">
                <img src="../static/assets/twitch.svg">
            </div>
            <div class="svg-container">
                <img src="../static/assets/hero.svg">
            </div>
            <div class="svg-container">
                <img src="../static/assets/hero-mail.svg">
            </div>
        </div>
    <span id="selector"></span>
</div>


{% endblock %}